<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Authentification</h3>
      </div>
      <div class="panel-body">
    <form [formGroup]="signupForm" (ngSubmit)="onSignIn()">
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
      </div>
<!--      <button class="btn btn-primary"-->
<!--              type="submit"-->
<!--              [disabled]="signupForm.invalid">Créer mon compte</button>-->
      <button class="btn btn-primary"
              type="submit"  *ngIf="!authStatus">Se connecter</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div></div>
</div>
